@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html, body, #__next {
  height: 100%;
}
#__next {
  margin: 0 auto;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.small-caps {
  font-variant-caps: small-caps;
  font-style:italic;
}

.auto-complete {
  padding: 1rem;
  border: 1px solid black;
  background-color: lightgray;
}

:root {
  --background-color: blue  
}

