html,
body {
  padding: 1em;
  margin: 1em;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.small-caps {
  font-variant-caps: small-caps;
  font-style:italic;
}

.auto-complete {
  padding: 1rem;
  border: 1px solid black;
  background-color: lightgray;
}

:root {
  --background-color: blue  
}

